doctype html
html
	head
		title='Users'
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/camera.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel='stylesheet', href='/resources/demos/style.css')
		link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css')
		link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.bootstrap.min.css')
		
		script(type='text/javascript', src='/js/jquery_004.js')
		script(type='text/javascript', src='/js/jquery_003.js')
		script(type='text/javascript', src='/js/jquery_005.js')
		script(type='text/javascript', src='/js/jquery_002.js')
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/camera.js')
		script(type='text/javascript', src='/js/superfish.js')
		script(type='text/javascript', src='/js/script.js')
		script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.4.js')
		script(type='text/javascript', src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script(type='text/javascript', src='/js/tab.js')
		script(type='text/javascript', src='/js/controls.js')
		script(type='text/javascript', src='//cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js')
		script(type='text/javascript', src='/js/validate.js')