doctype html
html
	block head				
	body
		nav.navbar.navbar-fixed-top.navbar-cust
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href="/") Truong Mam Non
		div#leftmenu.container-fluid.font-face-itim
			div.row
				div.col-sm-3.col-md-2.sidebar
					div#sidenav1.leftsidebar
						div.navbar-header
							button.navbar-toggle(data-toggle="collapse", data-target="#sideNavbar")
								span.icon-bar
								span.icon-bar
								span.icon-bar
						div#sideNavbar.collapse.navbar-collapse
							div#accordion.panel-group
								div.panel.panel-default
									div.panel-heading
										h4.panel-title
											a(data-toggle="collapse", data-parent="#accordion" href="#collapseOne")
												span.glyphicon.glyphicon-baby-formula
												| Quản Lý Học Sinh
												span.caret
									div#collapseOne.panel-collapse.collapse
										ul.list-group
											li
												a.navlink.active(href="/babyList") Danh Sách Học Sinh
												a.navlink(href="#") Điểm Danh
												a.navlink(href="/baby") Tạo Mới Học Sinh
												
								div.panel.panel-default
									div.panel-heading
										h4.panel-title
											a(data-toggle="collapse", data-parent="#accordion" href="#collapseFour")
												span.glyphicon.glyphicon-baby-formula
												| Quản Lý Thu Chi
												span.caret
									div#collapseFour.panel-collapse.collapse
										ul.list-group
											li
												a.navlink(href="#") Quản Lý Thu
												a.navlink(href="#") Quản Lý Chi												
								div.panel.panel-default
									div.panel-heading
										h4.panel-title
											a(data-toggle="collapse", data-parent="#accordion" href="#collapseTwo")
												span.glyphicon.glyphicon-education
												| Quản Lý Nhân Viên
												span.caret
									div#collapseTwo.panel-collapse.collapse
										ul.list-group
											li
												a.navlink(href="/teacherList") Danh sách Nhân Viên
												a.navlink(href="#") Chấm Công
												a.navlink(href="/teacherInfo") Tạo Mới Nhân Viên
								div.panel.panel-default
									div.panel-heading
										h4.panel-title
											a(data-toggle="collapse", data-parent="#accordion" href="#collapseThree")
												span.glyphicon.glyphicon-user
												| Quản Lý Tài khoản
												span.caret
									div#collapseThree.panel-collapse.collapse
										ul.list-group
											li
												a.navlink(href="/teacherList") Danh Sách Người Dùng
												a.navlink(href="/teacher") Tạo Mới Người Dùng
								div.panel.panel-default
									div.panel-heading
										h4.panel-title
											a(data-toggle="collapse", data-parent="#accordion" href="#collapseFive")
												span.glyphicon.glyphicon-user
												| Quản Lý Chỉ Mục
												span.caret
									div#collapseFive.panel-collapse.collapse
										ul.list-group
											li
												a.navlink(href="/teacherList") Danh sách Chỉ Mục
												a.navlink(href="/teacher") Tạo Mới Chỉ Mục
								div.panel.panel-default
									div.panel-heading
										h4.panel-title
											a(href="/apartmentStatistic")
												span.glyphicon.glyphicon-user
												| Quản Lý Phòng Trọ												
				block content