@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
@import url(http://fonts.googleapis.com/css?family=Titan+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url('https://fonts.googleapis.com/css?family=Itim');

body{ background:url(../images/px1.jpg) #fcf4db; border:0; font: 13px "Open Sans", Arial, Helvetica, sans-serif; color:#5e4d38 ; line-height:18px; min-width:320px;}
#baby-form .form-label-cust{font-family: 'Itim'; font-size: 18px;}
#leftmenu .font-face-itim{font-family: 'Itim'; font-size: 14px;}

.navbar-cust {
  background: url(../images/bg1.jpg) 0 0 repeat-x;"
  /*background-color: #007FFF;*/
}

#tabs {background:url(../images/px1.jpg) #fcf4db;}

.bigHr {
    background-color: dimgrey !important;
    color: dimgrey !important;    
    height: 1px !important;    
}
.error{
	color : red;
}

.clickable{
   cursor: pointer;
   width:10px;
}

.modal-dialog-cust {
	/*background-color: #fff;*/
}

.h3-title {
	text-align: center;
	margin-bottom: 40px;
}

.tr_warning {
  background-color: red;
  color: white;
}

.tr_close {
  background-color: grey;
  color: white;
}